Repository y-honey/django-react: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint & test web app, Build web app, Test backend, Test async-workers

Path conditions:
  Lint & test web app: any of: packages/webapp/**
  Build web app: any of: packages/webapp/**
  Test backend: any of: packages/backend/**
  Test async-workers: any of: packages/workers/**

feat: SB-787 Sentry integration improvements (disabled /lbcheck transactions spam, correctly setting operation name and type for GraphQL operations).
  packages/backend/common/graphql/views.py
  packages/backend/common/middleware.py
  packages/backend/config/monitoring.py
  packages/backend/config/settings.py
Due: Test backend

feat: SB-788 SB-791 Updated python in workers from version 3.8 to 3.9. Updated all workers packages (SQLAlchemy 1.4 -> 2.0 included).
  packages/workers/Dockerfile
  packages/workers/content/tests/test_sync.py
  packages/workers/dao/db/connection.py
  packages/workers/dao/db/models.py
  packages/workers/pdm.lock
  packages/workers/pyproject.toml
  packages/workers/serverless.yml
  packages/workers/setup.py
Due: Test async-workers

fix: Do not skip setup script when ENV_STAGE is empty
  packages/internal/tools/src/executors/setup/executor.ts
Due: none

feat: SB-734 Finished update user migration
  packages/webapp/src/shared/components/auth/editProfileForm/__tests__/editProfileForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.component.tsx
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.graphql.ts
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.hooks.ts
  packages/webapp/src/shared/components/auth/loginForm/loginForm.component.tsx
  packages/webapp/src/shared/components/auth/loginForm/loginForm.hooks.ts
  packages/webapp/src/shared/components/auth/signupForm/signupForm.hooks.ts
Due: Lint & test web app, Build web app

fix: fix env vars and web app tests
  .env.shared
  bitbucket-pipelines.yml
  jest.config.ts
  package.json
  packages/backend/.env.shared
  packages/e2e-tests/.env.shared
  packages/internal/tools/package.json
  packages/internal/tools/src/executors/setup/executor.ts
  packages/webapp/.env.shared
  packages/workers/.env.shared
  pnpm-lock.yaml
Due: Lint & test web app, Build web app, Test backend, Test async-workers

fix: SB-801 Permission denied on currentUser query when not logged in
  packages/backend/apps/users/schema.py
  packages/backend/apps/users/tests/test_schema.py
Due: Test backend

fix: SB-799 AWS X-Ray spams logs with EndpointConnectionError locally
  packages/backend/.env.shared
Due: Test backend

feat: SB-758 migrate crud query to apollo
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/__tests__/editCrudDemoItem.component.spec.tsx
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItem.component.tsx
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItem.graphql.ts
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItemContent.component.tsx
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-735 Change password migration
  packages/webapp/src/routes/crudDemoItem/crudDemoItemForm/crudDemoItemForm.component.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/__tests__/changePasswordForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.component.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.graphql.ts
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.hooks.ts
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.types.ts
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.hooks.ts
  packages/webapp/src/shared/components/auth/loginForm/loginForm.hooks.ts
  packages/webapp/src/shared/components/auth/signupForm/signupForm.hooks.ts
  packages/webapp/src/tests/utils/fixtures.ts
Due: Lint & test web app, Build web app

[SB-763] Migrate documents queries from relay to apollo
  packages/webapp/src/mocks/factories/document.ts
  packages/webapp/src/routes/documents/__tests__/documents.component.spec.tsx
  packages/webapp/src/routes/documents/document/__tests__/document.component.spec.tsx
  packages/webapp/src/routes/documents/document/document.component.tsx
  packages/webapp/src/routes/documents/documents.component.tsx
  packages/webapp/src/routes/documents/documents.graphql.ts
  packages/webapp/src/routes/documents/documents.hooks.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-755 migrate crud delete mutation, feat: SB-807 fix for apollo errors
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.component.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.graphql.ts
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/index.tsx
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
  packages/webapp/src/shared/services/graphqlApi/apolloClient.ts
Due: Lint & test web app, Build web app

feat: SB-737 Request password reset
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/__tests__/passwordResetRequestForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/passwordResetRequestForm.component.tsx
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/passwordResetRequestForm.graphql.ts
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/passwordResetRequestForm.hooks.ts
Due: Lint & test web app, Build web app

feat: SB-757 migrade crudDemoDropdown to apollo
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.component.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDropdownMenu/crudDropdownMenu.component.tsx
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-759 convert edit crud mutation to apollo
  packages/webapp/src/routes/crudDemoItem/addCrudDemoItem/addCrudDemoItem.component.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemForm/__tests__/crudDemoItemForm.component.spec.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemForm/crudDemoItemForm.component.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemForm/crudDemoItemForm.hook.ts
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/__tests__/editCrudDemoItem.component.spec.tsx
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItem.component.tsx
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItem.graphql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-760 migrate query from demoItem
  packages/webapp/src/mocks/factories/demoItem.ts
  packages/webapp/src/routes/demoItem/__tests__/demoItem.component.spec.tsx
  packages/webapp/src/routes/demoItem/demoItem.component.tsx
  packages/webapp/src/routes/demoItem/demoItem.graphql.ts
  packages/webapp/src/routes/demoItem/demoItem.graphql.tsx
  packages/webapp/src/routes/demoItem/demoItemContent.component.tsx
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
Due: Lint & test web app, Build web app

feat: SB-761 Migrate demoItemsAllQuery
  packages/webapp/src/routes/demoItems/__tests__/demoItems.component.spec.tsx
  packages/webapp/src/routes/demoItems/demoItemListItem/__tests__/demoItemListItem.component.spec.tsx
  packages/webapp/src/routes/demoItems/demoItemListItem/demoItemListItem.component.tsx
  packages/webapp/src/routes/demoItems/demoItems.component.tsx
  packages/webapp/src/routes/demoItems/demoItems.content.tsx
  packages/webapp/src/routes/demoItems/demoItems.graphql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/tests/utils/fixtures.ts
Due: Lint & test web app, Build web app

feat: SB-740 migrate stripe payment method query
  packages/webapp/src/mocks/factories/subscription.ts
  packages/webapp/src/routes/finances/activeSubscriptionContext/activeSubscriptionContext.component.tsx
  packages/webapp/src/routes/finances/activeSubscriptionContext/activeSubscriptionContext.hooks.ts
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.component.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/__tests__/editPaymentMethodForm.component.spec.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.component.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.content.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/__tests__/subscriptionPlanItem.component.spec.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/subscriptionPlanItem.stories.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.component.tsx
  packages/webapp/src/routes/finances/subscriptions/__tests__/subscriptions.component.spec.tsx
  packages/webapp/src/routes/finances/subscriptions/paymentMethod.content.tsx
  packages/webapp/src/routes/finances/subscriptions/subscriptions.component.tsx
  packages/webapp/src/routes/finances/subscriptions/transactionsHistory.content.tsx
  packages/webapp/src/routes/finances/transactionHistory/transactionHistory.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/__tests__/stripePaymentForm.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/stripePaymentForm.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/__tests__/stripePaymentMethodInfo.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/stripePaymentMethodInfo.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/stripePaymentMethodInfo.graphql.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/__tests__/stripePaymentMethodSelector.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.content.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.graphql.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.types.ts
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/__tests__/transactionHistory.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/transactionHistoryEntry/transactionHistoryEntry.component.tsx
  packages/webapp/src/shared/hooks/finances/useSubscriptionPlanDetails/useSubscriptionPlanDetails.graphql.ts
  packages/webapp/src/shared/hooks/finances/useSubscriptionPlanDetails/useSubscriptionPlanDetails.hook.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-749 migrate subscription queries
  packages/webapp/.prettierrc
  packages/webapp/package.json
  packages/webapp/src/mocks/factories/subscription.ts
  packages/webapp/src/routes/finances/activeSubscriptionContext/activeSubscriptionContext.component.tsx
  packages/webapp/src/routes/finances/activeSubscriptionContext/activeSubscriptionContext.hooks.ts
  packages/webapp/src/routes/finances/cancelSubscription/__tests__/cancelSubscription.component.spec.tsx
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.component.tsx
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.content.tsx
  packages/webapp/src/routes/finances/editSubscription/__tests__/editSubscription.component.spec.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/__tests__/subscriptionPlanItem.component.spec.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/subscriptionPlanItem.component.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.component.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.content.tsx
  packages/webapp/src/routes/finances/subscriptions/__tests__/subscriptions.component.spec.tsx
  packages/webapp/src/routes/finances/subscriptions/subscriptions.component.tsx
  packages/webapp/src/routes/finances/subscriptions/subscriptions.content.tsx
  packages/webapp/src/setupTests.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/__tests__/stripePaymentMethodInfo.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.graphql.ts
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/transactionHistoryEntry/transactionHistoryEntry.component.tsx
  packages/webapp/src/shared/hooks/finances/useActiveSubscriptionDetailsData/useActiveSubscriptionDetailsData.graphql.ts
  packages/webapp/src/shared/hooks/finances/useActiveSubscriptionDetailsData/useActiveSubscriptionDetailsData.ts
  packages/webapp/src/shared/hooks/finances/useSubscriptionPlanDetails/useSubscriptionPlanDetails.hook.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
  pnpm-lock.yaml
Due: Lint & test web app, Build web app

feat: SB-745 migrate stripe pay intent create mutation feat: SB-746 migrate stripe pay intent update mutation
  packages/webapp/src/mocks/factories/stripe.ts
  packages/webapp/src/modules/stripe/stripe.mutations.ts
  packages/webapp/src/modules/stripe/stripe.queries.ts
  packages/webapp/src/shared/components/finances/stripe/stripePayment.hooks.ts
  packages/webapp/src/shared/components/finances/stripe/stripePayment.hooks.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePayment.stripe.hook.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/__tests__/stripePaymentForm.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/stripePaymentForm.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/stripePaymentForm.graphql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
  packages/webapp/src/tests/utils/fixtures.ts
Due: Lint & test web app, Build web app

feat: SB-743 migrate delete payment method mutation
  packages/webapp/src/modules/stripe/stripe.mutations.ts
  packages/webapp/src/shared/components/finances/stripe/stripePayment.hooks.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.graphql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-744 migrate default payment method update
  packages/webapp/src/modules/stripe/stripe.mutations.ts
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.component.tsx
  packages/webapp/src/routes/finances/subscriptions/paymentMethod.content.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePayment.hooks.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.content.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.graphql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-747 migrate create intent setup
  packages/webapp/src/modules/stripe/stripe.queries.ts
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.component.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.graphql.ts
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.hooks.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePayment.hooks.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

fix: Move workers AWS_ENDPOINT_URL from .env.shared (pull request #457)
  docker-compose.local.yml
  packages/workers/.env.shared
Due: Test async-workers

feat: SB-738 Password Reset Request Confirm (pull request #445)
  docker-compose.local.yml
  packages/webapp/src/routes/auth/passwordReset/passwordReset.component.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetConfirm/__tests__/passwordResetConfirm.component.spec.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetConfirm/passwordResetConfirm.component.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/__tests__/passwordResetConfirmForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.component.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.graphql.ts
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.hooks.ts
Due: Lint & test web app, Build web app

fix: SB-812 Include __pypackages__ in serverless workers deployment
  packages/workers/scripts/deploy.sh
  packages/workers/workers.conf.yml
Due: Test async-workers

feat: SB-804 Export user and user-related models data
  packages/backend/apps/users/admin.py
  packages/backend/apps/users/tasks.py
  packages/internal/infra/lib/stacks/env/components/stack.ts
  packages/workers/.env.shared
  packages/workers/.env.test
  packages/workers/common/__init__.py
  packages/workers/common/protocols.py
  packages/workers/common/types.py
  packages/workers/conftest.py
  packages/workers/demo/__init__.py
  packages/workers/demo/factories.py
  packages/workers/demo/models.py
  packages/workers/demo/services/__init__.py
  packages/workers/demo/services/export.py
  packages/workers/demo/types.py
  packages/workers/pdm.lock
  packages/workers/pyproject.toml
  packages/workers/serverless.yml
  packages/workers/settings/base.py
  packages/workers/userauth/factories.py
  packages/workers/userauth/handlers.py
  packages/workers/userauth/models.py
  packages/workers/userauth/services/__init__.py
  packages/workers/userauth/services/export.py
  packages/workers/userauth/tests/__init__.py
  packages/workers/userauth/tests/test_services.py
  packages/workers/userauth/types.py
  packages/workers/utils/hashid.py
  packages/workers/workers.conf.local.yml
  packages/workers/workers.conf.yml
Due: Test backend, Test async-workers

feat: SB-751 migrate subscription cancel mutation
  packages/webapp/src/mocks/factories/subscription.ts
  packages/webapp/src/modules/subscription/subscription.mutations.ts
  packages/webapp/src/modules/subscription/subscription.queries.ts
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/__tests__/editCrudDemoItem.component.spec.tsx
  packages/webapp/src/routes/finances/cancelSubscription/__tests__/cancelSubscription.component.spec.tsx
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.component.tsx
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.graphql.ts
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.hook.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-750 migrate subscription change active
  packages/webapp/src/routes/finances/editSubscription/__tests__/editSubscription.component.spec.tsx
  packages/webapp/src/routes/finances/editSubscription/editSubscription.component.tsx
  packages/webapp/src/routes/finances/editSubscription/editSubscription.graphql.ts
  packages/webapp/src/routes/finances/editSubscription/editSubscription.hook.ts
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/subscriptionPlanItem.component.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.component.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.content.tsx
  packages/webapp/src/shared/components/layout/header/header.stories.tsx
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

feat: SB-748 migrate subscripion plans all query
  packages/webapp/src/mocks/factories/subscription.ts
  packages/webapp/src/modules/subscription/subscription.queries.ts
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.graphql.ts
  packages/webapp/src/routes/finances/editSubscription/__tests__/editSubscription.component.spec.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/__tests__/subscriptionPlanItem.component.spec.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/subscriptionPlanItem.component.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.component.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.content.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlans/subscriptionPlans.graphql.ts
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.graphql.ts
  packages/webapp/src/shared/hooks/finances/useActiveSubscriptionDetailsData/useActiveSubscriptionDetailsData.graphql.ts
  packages/webapp/src/shared/hooks/finances/useSubscriptionPlanDetails/useSubscriptionPlanDetails.graphql.ts
  packages/webapp/src/shared/hooks/finances/useSubscriptionPlanDetails/useSubscriptionPlanDetails.hook.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
  packages/webapp/src/tests/utils/fixtures.ts
Due: Lint & test web app, Build web app

feat: SB-741 migrate stripe all charges query
  packages/webapp/src/mocks/factories/stripe.ts
  packages/webapp/src/modules/stripe/stripe.queries.ts
  packages/webapp/src/routes/finances/subscriptions/subscriptions.component.tsx
  packages/webapp/src/routes/finances/subscriptions/subscriptions.graphql.ts
  packages/webapp/src/routes/finances/subscriptions/transactionsHistory.content.tsx
  packages/webapp/src/routes/finances/transactionHistory/transactionHistory.component.tsx
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/__tests__/transactionHistory.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/transactionHistory.component.tsx
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/transactionHistory.hooks.ts
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/transactionHistoryEntry/transactionHistoryEntry.component.tsx
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app

fix: Fixes to storybooks (pull request #461)
  packages/webapp/.storybook/main.ts
  packages/webapp/src/mocks/factories/crudDemoItem.ts
  packages/webapp/src/mocks/factories/demoItem.ts
  packages/webapp/src/mocks/factories/stripe.ts
  packages/webapp/src/mocks/factories/subscription.ts
  packages/webapp/src/routes/crudDemoItem/crudDemoItemDetails/crudDemoItemDetails.stories.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.stories.tsx
  packages/webapp/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.stories.tsx
  packages/webapp/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItem.stories.tsx
  packages/webapp/src/routes/demoItem/__tests__/demoItem.component.spec.tsx
  packages/webapp/src/routes/demoItem/demoItem.stories.tsx
  packages/webapp/src/routes/documents/document/document.stories.tsx
  packages/webapp/src/routes/finances/cancelSubscription/cancelSubscription.stories.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.component.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.stories.tsx
  packages/webapp/src/routes/finances/paymentConfirm/paymentConfirm.stories.tsx
  packages/webapp/src/routes/finances/subscriptions/subscriptions.stories.tsx
  packages/webapp/src/routes/profile/profile.stories.tsx
  packages/webapp/src/shared/components/auth/avatarForm/avatarForm.stories.tsx
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.stories.tsx
  packages/webapp/src/shared/components/avatar/avatar.stories.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/stripePaymentForm.stories.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.stories.tsx
  packages/webapp/src/shared/components/notifications/notificationsList/notificationsList.stories.tsx
  packages/webapp/src/shared/components/notifications/templates/crudItemCreated/crudItemCreated.stories.tsx
  packages/webapp/src/shared/components/notifications/templates/crudItemUpdated/crudItemUpdated.stories.tsx
  packages/webapp/src/shared/utils/storybook.tsx
  packages/webapp/src/tests/utils/fixtures.ts
  packages/webapp/src/tests/utils/rendering.tsx
Due: Lint & test web app, Build web app

fix: un-skip edit default payment method tests
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/__tests__/editPaymentMethodForm.component.spec.tsx
Due: Lint & test web app, Build web app

fix: fix storybooks
  packages/webapp/.storybook/main.ts
  packages/webapp/src/routes/documents/document/skeleton/skeleton.stories.tsx
  packages/webapp/src/routes/documents/documents.stories.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.stories.tsx
  packages/webapp/src/shared/components/backButton/backButton.stories.tsx
  packages/webapp/src/shared/components/forms/dropzone/dropzone.stories.tsx
  packages/webapp/src/shared/components/languageSwitcher/languageSwitcher.stories.tsx
  packages/webapp/src/shared/components/layout/layout.stories.tsx
  packages/webapp/src/shared/components/markdownPage/markdownPage.stories.tsx
  packages/webapp/src/shared/components/notifications/notification/notification.stories.tsx
  packages/webapp/src/shared/utils/storybook.tsx
Due: Lint & test web app, Build web app

feat: SB-821 Migrate authUpdateUserProfileMutation in AvatarForm component to Apollo
  packages/webapp/package.json
  packages/webapp/src/shared/components/auth/avatarForm/__tests__/avatarForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/avatarForm/avatarForm.hooks.ts
  packages/webapp/src/shared/components/avatar/avatar.component.tsx
  packages/webapp/src/shared/services/graphqlApi/apolloClient.ts
  pnpm-lock.yaml
Due: Lint & test web app, Build web app

fix: SB-819 Fix stripe storybooks
  packages/webapp/.storybook/main.ts
  packages/webapp/jest.config.ts
  packages/webapp/package.json
  packages/webapp/src/mocks/factories/stripe.ts
  packages/webapp/src/mocks/factories/subscription.ts
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/__tests__/editPaymentMethodForm.component.spec.tsx
  packages/webapp/src/routes/finances/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.stories.tsx
  packages/webapp/src/routes/finances/editSubscription/editSubscription.stories.tsx
  packages/webapp/src/routes/finances/editSubscription/subscriptionPlanItem/subscriptionPlanItem.stories.tsx
  packages/webapp/src/routes/finances/paymentConfirm/paymentConfirm.stories.tsx
  packages/webapp/src/routes/finances/subscriptions/__tests__/subscriptions.component.spec.tsx
  packages/webapp/src/routes/finances/subscriptions/subscriptions.stories.tsx
  packages/webapp/src/routes/finances/transactionHistory/transactionHistory.stories.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentForm/stripePaymentForm.stories.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/__tests__/stripePaymentMethodInfo.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/stripePaymentMethodInfo.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodInfo/stripePaymentMethodInfo.stories.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.component.tsx
  packages/webapp/src/shared/components/finances/stripe/stripePaymentMethodSelector/stripePaymentMethodSelector.stories.tsx
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/__tests__/transactionHistory.component.spec.tsx
  packages/webapp/src/shared/components/finances/stripe/transactionHistory/transactionHistory.stories.tsx
  packages/webapp/src/tests/utils/fixtures.ts
  pnpm-lock.yaml
Due: Lint & test web app, Build web app

feat: SB-736 Migrate authConfirmUserEmailMutation to Apollo
  packages/webapp/src/modules/auth/auth.mutations.ts
  packages/webapp/src/routes/auth/confirmEmail/__tests__/confirmEmail.component.spec.tsx
  packages/webapp/src/routes/auth/confirmEmail/confirmEmail.component.tsx
  packages/webapp/src/routes/auth/confirmEmail/confirmEmail.graphql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/gql.ts
  packages/webapp/src/shared/services/graphqlApi/__generated/gql/graphql.ts
Due: Lint & test web app, Build web app
